{% extends "base.html" %}

{% block title %}新增投票主題{% endblock %}
{% block main %}
    <h1>投票主題列表-Listview</h1>
    <a href="{% url 'poll_create' %}">新增投票主題</a>
    <u1>
        {% for poll in poll_list %}
        <li>
            {{ poll.created }}
            <a href="{% url 'poll_view' poll.id %}">{{ poll.subject }}</a>
                 <a href="{% url 'poll_edit' poll.id %}">修改</a>
                 <a href="{% url 'poll_delete' poll.id %}">刪除</a>
                
                 
        </li>
        {% endfor %}
    </u1>
{% endblock %}
